
section.main-breadcrumb
    .container
        ul
            li
                a(href="#") Trang chủ
            li
                a(href="#") Danh mục sản phẩm
            li
                a(href="#") Sản phẩm chăm sóc da
section.product-detail.py-5
    .container
        .row
            .col-lg-6
                .left-wrapper
                    .sale -20%
                    .image-top
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-2.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-2.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-2.png", alt="")
                    .image-thumb
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-2.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-2.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-2.png", alt="")
                        .swiper-navigation
                            .swiper-prev
                                em.lnr.lnr-chevron-left
                            .swiper-next
                                em.lnr.lnr-chevron-right
            .col-lg-6
                .right-wrapper
                    h1.shine-title Kem Dưỡng Ẩm Miracle Moisture Cream 50ml
                    p.status Còn hàng
                    .table-wrap
                        .table-row
                            .title Giá
                            .old 420.000 đ
                        .table-row
                            .title Giá khuyến mãi
                            .new 320.000 đ
                        .table-row
                            .title Số lượng
                            .quantity-box
                                button -
                                input(type="text" value='1')
                                button +
                        .table-row
                            .title Màu sắc
                            .color-options
                                .color-item.active
                                    a(href="javascript:void(0)" style='background: #e08271')
                                .color-item
                                    a(href="javascript:void(0)" style='background: #000')
                                .color-item
                                    a(href="javascript:void(0)" style='background: #b3b3b3')
                        .table-row
                            .title Chia sẻ
                            ul.social
                                li
                                    a(href="#")
                                        em.fa.fa-facebook
                                li
                                    a(href="#")
                                        em.fa.fa-youtube-play
                                li
                                    a(href="#")
                                        em.fa.fa-twitter
                                li
                                    a(href="#")
                                        em.fa.fa-instagram
                    .add-cart
                        a(href="#")
                            em.fa.fa-shopping-basket
                            | Đặt hàng ngay
        .row
            .col-12
                .product-detail-wrapper
                    .heading
                        h3 Chi tiết sản phẩm
                    .content
                        h5 Kem Dưỡng Ẩm Miracle Moisture Cream 50ml
                        p Bạn sở hữu làn da khô? Da thiếu độ ẩm dẫn đến thiếu sức sống, xuất hiện nếp nhăn ở vùng mắt, trán…Đó là dấu hiệu “báo động” da cần được cấp nước ngay lập tức. Bạn sở hữu làn da khô? Da thiếu độ ẩm dẫn đến thiếu sức sống, xuất hiện nếp nhăn ở vùng mắt, trán…Đó là dấu hiệu “báo động” da cần được cấp nước ngay lập tức. Bạn sở hữu làn da khô? Da thiếu độ ẩm dẫn đến thiếu sức sống, xuất hiện nếp nhăn ở vùng mắt, trán…Đó là dấu hiệu “báo động” da cần được cấp nước ngay lập tức.
                        p(style='text-align: center')
                            img(src="./img/product/detail-3.png", alt="")
                        h5 Kem Dưỡng Ẩm Miracle Moisture Cream 50ml
                        p Bạn sở hữu làn da khô? Da thiếu độ ẩm dẫn đến thiếu sức sống, xuất hiện nếp nhăn ở vùng mắt, trán…Đó là dấu hiệu “báo động” da cần được cấp nước ngay lập tức. Bạn sở hữu làn da khô? Da thiếu độ ẩm dẫn đến thiếu sức sống, xuất hiện nếp nhăn ở vùng mắt, trán…Đó là dấu hiệu “báo động” da cần được cấp nước ngay lập tức. Bạn sở hữu làn da khô? Da thiếu độ ẩm dẫn đến thiếu sức sống, xuất hiện nếp nhăn ở vùng mắt, trán…Đó là dấu hiệu “báo động” da cần được cấp nước ngay lập tức.
                        .view-more
                            a(href="javascript:void(0)")
                                span Xem thêm
                                em.lnr.lnr-chevron-down
        .row
            .col-12
                .viewed-products-wrapper.other-wrapper
                    .heading
                        h3.shine-title SẢN PHẨM đã xem
                        .swiper-navigation
                            .swiper-navigation
                                .swiper-prev
                                    em.lnr.lnr-chevron-left
                                .swiper-next
                                    em.lnr.lnr-chevron-right
                    .list-item
                        .swiper-container
                            .swiper-wrapper
                                -for(i=0;i<10;i++)
                                    .swiper-slide
                                        .product-item
                                            .top-item
                                                .image
                                                    a(href='#')
                                                        img(src="./img/pro-3.png", alt="")
                                                .sale -10%
                                                .hidden-wrap
                                                    a.add-cart(href="#")
                                                        em.fa.fa-shopping-basket
                                                        span Thêm vào giỏ hàng
                                                    a.view-detail(href="#")
                                                        em.fa.fa-eye
                                                        span Xem chi tiết
                                            .bottom-item
                                                h5.title 
                                                    a(href="#") Bộ Kem Trị Nám Giori
                                                .price
                                                    span.new.black 350.000 ₫
                                                    span.old 700.000 ₫
                                                .flex
                                                    .rate(data-rate=4)
                                                        em.fa.fa-star
                                                        em.fa.fa-star
                                                        em.fa.fa-star
                                                        em.fa.fa-star
                                                        em.fa.fa-star
                                                    .cart-button
                                                        a(href="#")
                                                            em.fa.fa-shopping-basket
        .row
            .col-12
                .related-products-wrapper.other-wrapper
                    .heading
                        h3.shine-title SẢN PHẨM tương tự
                        .swiper-navigation
                            .swiper-navigation
                                .swiper-prev
                                    em.lnr.lnr-chevron-left
                                .swiper-next
                                    em.lnr.lnr-chevron-right
                    .list-item
                        .swiper-container
                            .swiper-wrapper
                                -for(i=0;i<10;i++)
                                    .swiper-slide
                                        .product-item
                                            .top-item
                                                .image
                                                    a(href='#')
                                                        img(src="./img/pro-3.png", alt="")
                                                .sale -10%
                                                .hidden-wrap
                                                    a.add-cart(href="#")
                                                        em.fa.fa-shopping-basket
                                                        span Thêm vào giỏ hàng
                                                    a.view-detail(href="#")
                                                        em.fa.fa-eye
                                                        span Xem chi tiết
                                            .bottom-item
                                                h5.title 
                                                    a(href="#") Bộ Kem Trị Nám Giori
                                                .price
                                                    span.new.black 350.000 ₫
                                                    span.old 700.000 ₫
                                                .flex
                                                    .rate(data-rate=5)
                                                        em.fa.fa-star
                                                        em.fa.fa-star
                                                        em.fa.fa-star
                                                        em.fa.fa-star
                                                        em.fa.fa-star
                                                    .cart-button
                                                        a(href="#")
                                                            em.fa.fa-shopping-basket
        .row
            .col-12
                .product-reviews-wrapper.other-wrapper
                    .heading
                            h3.shine-title Đánh giá sản phẩm
                            .swiper-navigation
                                .swiper-navigation
                                    .swiper-prev
                                        em.lnr.lnr-chevron-left
                                    .swiper-next
                                        em.lnr.lnr-chevron-right
                    .list-item
                        .swiper-container
                            .swiper-wrapper
                                -for(x=0;x<10;x++)
                                    .swiper-slide
                                        .review-item
                                            figure
                                                .image
                                                    img(src="./img/index.jpg", alt="")
                                                figcaption
                                                    .rate(data-rate='3')
                                                        em.fa.fa-star
                                                        em.fa.fa-star
                                                        em.fa.fa-star
                                                        em.fa.fa-star
                                                        em.fa.fa-star
                                                    h5 Nguyễn Ngọc Băng Tâm
                                                    p Ngay từ lần đầu sử dụng, loại kem này để lại ấn tượng khá tốt với mình, khi thoa kem cảm giác là da hơi bóng tuy nhiên vài phút sau 