section.main-section.about-1
    .container
        h2.main-title Giới thiệu
        .row
            .col-lg-6
                .content
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, delectus ut. Nostrum aliquam voluptates, expedita impedit accusamus facere. Voluptatibus ratione temporibus inventore iusto et aut necessitatibus voluptas dolorem cupiditate dignissimos!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, tempore reiciendis tenetur porro dolorem repellendus dicta. Perferendis, nemo explicabo recusandae aspernatur dolor debitis suscipit ratione porro animi vel voluptatum magni.
            .col-lg-6
                .image
                    img(src="./img/banner-1.png", alt="")
section.main-section.about-2
    .container
        h2.main-title Tầm nhìn và sứ mệnh
        .row
            .col-lg-6
                h3.main-child Tầm nhìn
                .content-wrapper
                    .icon
                        img(src="./img/icon/1.png", alt="")
                    .content
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet consequuntur repellat tempore dolore, numquam sunt quibusdam sapiente temporibus ut, commodi iste assumenda sequi sed ad error vero sit hic a?
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis nulla vero officiis qui dolore eum sunt, quam vitae quia laboriosam reprehenderit ad veniam a consectetur quos mollitia minima quas nemo?
            .col-lg-6
                h3.main-child Sứ mệnh
                .content-wrapper
                    .icon
                        img(src="./img/icon/2.png", alt="")
                    .content
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem autem ut voluptate quaerat, dignissimos vero aspernatur est ab nisi! Eius similique laudantium error exercitationem aliquid iure quae? Eum, ipsa odit.
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta necessitatibus obcaecati tenetur animi, mollitia error totam quaerat voluptates ullam, enim accusamus ea, tempora placeat? Voluptatem ut esse illo ad repellendus?