section.form-user.main-section
    .container
        h2.main-title Đăng nhập
        form(action="")
            .formWrapper
                .form-group
                    label(for="") Mật khẩu
                            span *
                    input(type="text", name="", placeholder="Tài khoản")
                .form-group
                    label(for="") Mật khẩu
                            span *
                    input(type="password", name="", placeholder="Mật khẩu")
                .form-check
                    input(type="checkbox", name="save", id="saveAccount")
                    label(for="saveAccount") Lưu tài khoản
                .form-group
                    p để login facebook google ở đây
                .form-btn
                    button(type="submit") Đăng nhập
                .btn-dangky
                    .form-btn
                        a(href="javascript:void(0)" data-fancybox="" data-src="#creat") Tạo tài khoản mới
.dk-wrapper(style="display:none" id="creat")
    h2.main-title Đăng ký
    form(action="")
        .formWrapper
            .form-group
                label(for="") Họ và tên
                    span *
                input(type="text", name="")
            .form-group
                label(for="") Email
                    span *
                input(type="email", name="")
            .form-group
                label(for="") Mật khẩu
                    span *
                input(type="password", name="")
            .form-group
                label(for="") Nhập lại mật khẩu
                    span *
                input(type="password", name="")
            .form-btn
                button(type="submit") Đăng ký