section.contact.main-section
    .container
        h2.main-title Liên hệ
        .content-section
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quis nisi facere quibusdam ipsam. Exercitationem, culpa deleniti tempora rem cum minima obcaecati alias sequi ullam? Mollitia delectus error quaerat laudantium.Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quis nisi facere quibusdam ipsam. Exercitationem, culpa deleniti tempora rem cum minima obcaecati alias sequi ullam? Mollitia delectus error quaerat laudantium.Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quis nisi facere quibusdam ipsam. Exercitationem, culpa deleniti tempora rem cum minima obcaecati alias sequi ullam? Mollitia delectus error quaerat laudantium.
        form(action="")
            .form-wrapper
                .form-group
                    label(for="") Họ và tên
                        span *
                    input(type="text", name="")
                .form-group
                    label(for="") Email
                        span *
                    input(type="email", name="")
                .form-group
                    label(for="") Số điện thoại
                        span *
                    input(type="number", name="")
                .form-group
                    label(for="") Tiêu đề
                        span *
                    input(type="text", name="")
                .form-group
                    label(for="") Nội dung
                        span *
                    textarea(name="", cols="30", rows="10")
                .form-btn
                    button(type="submit") Gửi
        .map
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.188537504888!2d106.63359591533873!3d10.796867461767055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529547d2f3197%3A0x177eaa5c4aa9867d!2zxJDGsOG7nW5nIFRy4bqnbiBU4bqlbiwgVMOibiBTxqFuIE5ow6wsIFTDom4gUGjDuiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1604683272358!5m2!1svi!2s" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>