header.semi
    .container
        .backdrop-wrapper
        .mobile-wrapper
        .top-wrapper
            .logo-wrapper
                a(href="/")
                    img(src="./img/logo.png", alt="")
            .search-icon
                em.mdi.mdi-magnify
            .search-wrapper
                .searchbox
                    input(type="text" placeholder='Bạn tìm sản phẩm gì hôm nay?')
                    button(type='submit')
                        em.mdi.mdi-magnify
            .top-list-wrapper
                ul
                    li
                        a(href="#")
                            span.ic
                                img(src="./img/ic-1.png", alt="")
                            | Kinh nghiệm hay
                    li
                        a(href="#")
                            span.ic
                                img(src="./img/ic-2.png", alt="")
                            | Tài khoản
                    li
                        a(href="#")
                            span.ic
                                em.fa.fa-shopping-basket
                                //- img(src="./img/cart.png", alt="")
                                span 0
                            | Giỏ hàng
        .bottom-wrapper
            .toggle-wrapper.black
                em.fa.fa-align-left
                span Danh mục sản phẩm
                ul.semi.hidden-wrapper
                    li.has-drop
                        a(href="#") Chăm Sóc Da Mặt
                        ul
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                    li.has-drop
                        a(href="#") Chăm Sóc Tóc
                        ul
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                    li.has-drop
                        a(href="#") Chăm Sóc Body
                        ul
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                    li.has-drop
                        a(href="#") Mỹ Phẩm Trang Điểm
                        ul
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                    li.has-drop
                        a(href="#") Dụng Cụ Giúp Làm Đẹp
                        ul
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                            li
                                a(href="#") Chăm sóc da mặt
                    li
                        a(href="#") Sản Phẩm Mới
                    li
                        a(href="#") Sản Phẩm Khuyến Mãi
                    li
                        a(href="#") Sản Phẩm Hot
                    li
                        a(href="#") Bí Kíp Làm Đẹp
            .main-list-wrapper.black
                ul
                    li
                        a(href="#") Trang chủ
                    li
                        a(href="#") Thông tin công ty
                    li
                        a(href="#") Blog làm đẹp
                    li
                        a(href="#") Hỗ trợ khách hàng
            .phone-wrapper
                a(href="#")
                    em.mdi.mdi-phone
                    | 0915 948 855 - 0961 324 950