section.newsletter.py-3
    .container
        .row
            .col-lg-5
                .heading-wrapper
                    .ic
                        img(src="./img/img-3.png", alt="")
                    .text
                        h3 Đăng ký nhận bản tin
                        p Đăng ký ngay để nhận thông tin khuyến mãi mới nhất
            .col-lg-6
                .form-wrapper
                    input(type="text" placeholder='Nhập địa chỉ email')
                    button(type='submit') Đăng ký
footer
    .container
        .top-wrapper
            .row
                .col-lg-3.col-md-6.ft-col
                    .text-wrap
                        h4 Liên hệ
                        p
                            em.mdi.mdi-map-marker
                            | 198 Hoàng Văn Thụ, Phường 9, Quận Phú Nhuận, Thành phố Hồ Chí Minh
                        p
                            em.mdi.mdi-phone
                            | 0915 948 855 - 0961 324 950
                        p
                            em.mdi.mdi-email
                            | cskh@khakim.com
                .col-lg-3.col-md-6.ft-col
                    .text-wrap
                        h4 Liên kết nhanh
                        ul
                            li
                                a(href="#") Thông tin công ty
                            li
                                a(href="#") Blog làm đẹp
                            li
                                a(href="#") Hỗ trợ khách hàng
                            li
                                a(href="#") Tuyển dụng
                            li
                                a(href="#") Liên hệ
                .col-lg-3.col-md-6.ft-col
                    .text-wrap
                        h4 hỗ trợ khách hàng
                        ul
                            li
                                a(href="#") Theo dõi đơn hàng
                            li
                                a(href="#") Hướng dẫn mua hàng
                            li
                                a(href="#") Chính sách mua hàng
                            li
                                a(href="#") Chính sách đổi trả, hoàn tiền
                            li
                                a(href="#") Chính sách bảo mật
                            li
                                a(href="#") Quy chế hoạt động
                .col-lg-3.col-md-6.ft-col
                    .text-wrap.social
                        h4 Kết nối với chúng tôi
                        ul
                            li
                                a(href="#")
                                    em.fa.fa-facebook
                            li
                                a(href="#")
                                    em.fa.fa-youtube-play
                            li
                                a(href="#")
                                    em.fa.fa-twitter
                            li
                                a(href="#")
                                    em.fa.fa-instagram
                        .certification
                            img(src="./img/certification.png", alt="")
        .bottom-wrapper
            .copyright
                p 2019 © The Shine Shop.
                    a(href="https://www.canhcam.vn/thiet-ke-website" target='_blank')  Thiết kế website 
                    | bởi
                    a(href="https://www.canhcam.vn" target='_blank')  Cánh Cam.
            .sub-list
                ul
                    li
                        a(href="#") Điều khoản sử dụng
                    li
                        a(href="#") Chính sách bảo mật