section.form-user.main-section
    .container
        h2.main-title Đăng nhập
        form(action="")
            .formWrapper
                .form-group
                    input(type="text", name="", placeholder="Tài khoản")
                .form-group
                    input(type="password", name="", placeholder="Mật khẩu")
                .form-check
                    input(type="checkbox", name="save", id="saveAccount")
                    label(for="saveAccount") Lưu tài khoản
                .form-group
                    p để login facebook google ở đây
                .form-btn
                    button(type="submit") Đăng nhập