section.news-detail.main-section
    .container
        .row
            .col-lg-8
                .heading
                    time 24/10/1999
                    h2.tt-title Hướng Dẫn Sử Dụng Máy Khoan Cầm Tay Đơn Giản
                .full-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat laudantium nemo facere alias cumque commodi nam dolores, magni eveniet iure iusto sit, inventore pariatur voluptatum! Ipsa repellat consequuntur veniam expedita!
                .social-share
            .col-lg-4
                .news-other-heading
                    h3.tt-title TIN TỨC KHÁC
                .news-other-list.row
                    .col-sm-6.col-lg-12.news-other-item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/home-tintuc1.png", alt="")
                                figcaption
                                    time 24/10/1999
                                    h5 Máy Vặn Bu Lông Chạy Điện DEWALT DW293-B1
                    .col-sm-6.col-lg-12.news-other-item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/home-tintuc1.png", alt="")
                                figcaption
                                    time 24/10/1999
                                    h5 Máy Vặn Bu Lông Chạy Điện DEWALT DW293-B1
                    .col-sm-6.col-lg-12.news-other-item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/home-tintuc1.png", alt="")
                                figcaption
                                    time 24/10/1999
                                    h5 Máy Vặn Bu Lông Chạy Điện DEWALT DW293-B1